.newest-section {
  text-align: center;
  padding: 30px 0;
}

.slider-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.slider-btn {
  background: #fbd85a;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  font-size: 22px;
  cursor: pointer;
}

.slider-box {
  width: 700px;
  height: 270px;
  background: #d9d9d9;
  border-radius: 6px;
}

.see-more-btn {
  margin-top: 15px;
  background: #1b1e2e;
  color: white;
  border: none;
  padding: 8px 20px;
  cursor: pointer;
  font-size: 12px;
  border-radius: 10px;
}

.merch-section {
  text-align: center;
  padding: 40px 0;
}

.merch-grid {
  width: 100%;
  margin: 25px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.merch-card {
  text-align: left;
}

.merch-card .thumb {
  width: 100%;
  height: 150px;
  background: #d9d9d9;
}

.merch-title {
  margin: 5px 0;
  font-size: 12px;
}

.see-btn {
  font-size: 12px;
  padding: 3px 10px;
  cursor: pointer;
  background: #1b1e2e;
  color: #FBDE44;
  border-radius: 8px;
}

.highlight-section {
  margin-top: 40px;
  text-align: center;
}

.sub-text {
  margin-bottom: 20px;
}

.highlight-card {
  width: 90%;
  margin: 25px auto;
  border: 1px solid #cfcfcf;
  padding: 20px;
  display: flex;
  gap: 20px;
}

.highlight-thumb {
  width: 150px;
  height: 150px;
  background: #d9d9d9;
}

.highlight-info {
  text-align: left;
}

.artist-profile {
  margin-top: 15px;
  font-size: 12px;
}

.artist-dot {
  width: 12px;
  height: 12px;
  background: #d9d9d9;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}