.title-section {
    text-align: center;
    margin: 40px 0 20px;
}

.filter-bar {      
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.category {
    background: #1F2633;       
    color: #FFD53A;               
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 500;
}

.search-box {
    position: relative;
    flex: 1;                      
}

.search-box input {
    width: 100%;
    padding: 10px 40px 10px 12px;  
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.search-box .icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #000;
}


.products {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding-bottom: 60px;
}

.card {
    background: #fff;
    border: 2px solid #1f2a44;
    padding: 15px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px) scale(1.02);
}

.image-box {
    background: #eee;
    height: 250px;
    width: 250px;
    position: relative;
}

.favorite {
    width: 25px;
    height: 25px;
    background: #fff;
    position: absolute;
    right: 10px;
    top: 10px;
}

.card hr {
    margin: 15px 0;
    border: 1px solid #1f2a44;
}

.card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.artist {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 13px;
}

.artist-circle {
    width: 14px;
    height: 14px;
    border: 1px solid #000;
    border-radius: 50%;
}