* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 350px;
  background: linear-gradient(
    180deg,
    #ffeaa4 0%,
    #fff5c4 60%,
    transparent 100%
  );
  z-index: -1;
}

.wrapper {
  padding-left: 120px;
  padding-right: 120px;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.nav-container {
  width: 100%;
  background: white;
  padding: 12px 26px;
  border: 2px solid #ff7373;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.06);
}

.logo {
  font-size: 20px;
  font-weight: 600;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-links a {
  text-decoration: none;
  color: #111;
  font-size: 18px;
  position: relative;
}

.nav-links a.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: black;
  bottom: -3px;
  left: 0;
}

.nav-buttons {
  display: flex;
  gap: 12px;
}

.nav-icons {
  width: 22px;
  height: 22px;
  background: #ff6666;
  border-radius: 50%;
}